<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\ismae\OneDrive\Área de Trabalho\Nova pasta\VISOR-ETK1.jar</jar>
  <outfile>C:\Users\ismae\OneDrive\Área de Trabalho\Nova pasta\VISOR-ETK1.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\ismae\OneDrive\Área de Trabalho\Nova pasta\favicon.ico</icon>
  <classPath>
    <mainClass>main.App</mainClass>
    <cp>.</cp>
  </classPath>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>